*{
    line-height: 1.5;
    padding: opx;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: darkseagreen;
}
.home-page img {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    text-align: center;
    color: orangered;
    margin-top: 0px;
}
h2 {
    font-size: 20px;
    color: crimson;
}
p {
    margin-bottom: 20px;
}
ul {
    list-style: none;
}
.home-page {
    width: 600px;
    background-color: white;
    margin: 20px auto;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, .5);
}
.about-page {
    padding: 20px;
    display: inline-block; 
    width: 580px;
    vertical-align: top;
}
.home-page a{
    text-transform: uppercase;
}
.home-page .property{
    border: 2px solid darkred;
}
.link-list {
    display: flex; 
    list-style: none; 
    padding: 0; 
  }
  
  .link-list li {
    display: flex; 
    margin: 10px; 
  }

  .link-list a {
    display: block; 
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    text-decoration: none; 
    color: #333; 
  }
  