*{
    line-height: 1.5;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.image1{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.link-list ul{
    list-style: none;
}
strong{
    color: darkolivegreen;
}
.container h1{
    color:aqua;
    text-align: center;
    font-weight: bold;
}
#container{
    border: 1px solid black;
}
.about-content a{
    color: purple;
}
.chicken-sandwich h1{
    color: aqua;
}
.image1-sandwich{
    width: 100px;

}